.about-sections{
    padding:4rem;
}

/* header-sec start */
.header-sec.content-sec .c-title{
    font-size:45px;  
}
.header-sec.content-sec img{
    max-height:600px;
}
/* header-sec end */
/* slider-sec start */
.slider-sec{
    background:#f8ede9;
}
.slider-sec .theme-slider .item-box .item-img{
    width:100px;
    margin:auto;
    margin-bottom:2rem;
}
.slider-sec .theme-slider .item-box .item-title{
    font-family:"Metropolis Bold";
    margin-bottom:.5rem;
    font-size:35px;
    line-height:normal;
}
.slider-sec .theme-slider .item-box .txt-2{
    font-size:17px;
    line-height:normal;
}
.slider-sec .theme-slider .item-box{
    background:#fff;
    box-shadow:0px 0px 30px #0004;
    padding:40px;
    margin:30px;
}
.slider-sec .slick-arrow:before{
    line-height:50px;
    color:#30485e;
}
.slider-sec .slick-prev:before{
    content:"\f104";
}
.slider-sec .slick-next:before{
    content:"\f105";
}
.slider-sec .slick-prev{
    left:0px;
}
.slider-sec .slick-arrow:hover::before{
    color:#fff;
}
.slider-sec .slick-arrow:hover{
    background:#30485e;
}
.slider-sec .slick-arrow{
    top:calc(50% - 25px);
    bottom:auto;
    font-size:25px;
    height:50px;
    width:50px;
    background:#fff;
    border:0px solid;
    box-shadow:0px 5px 5px #0004;
}
.slider-sec .slick-dots{
    left:50%;
    bottom:auto;
    top:calc(100% + 10px);
    margin:0px;
    padding:0px;
}
.slider-sec .slick-dots .slick-active{
    background:#1b2332;
    height:8px;
    width:8px;
}
.slider-sec .slick-dots li{
    background:#a6a6a6;
    margin:0px 2px;
}
.theme-slider .slick-list{
    width:550px;
    margin:auto;
}
/* slider-sec end */
/* content-sec start */
.content-sec .sec-row{
    align-items:center;
}
.content-sec img{
    margin:auto;
    max-height:500px;
}
.content-sec .c-main-title{
    margin-bottom:1rem;
    text-transform:uppercase;
    font-size:16px;
    color:#364764;
    font-family:"Metropolis Semi Bold";
}
.content-sec .c-title{
    margin-bottom:1rem;
    font-size:40px;
    line-height:normal;
    font-family:"Metropolis Bold";
}
.content-sec .c-btn i{
    margin-left:10px;
}
.content-sec .c-btn{
    margin-top:3rem;
    border-radius:20px;
    text-transform:uppercase;
    padding-left:2rem;
    letter-spacing:1px;
    padding-right:2rem;
}
/* content-sec end */

/* detail-points start */
.detail-points{
    background:#fbede7;
}
.detail-points .d-parent{
    padding-right:4rem;
}
.detail-points .d-icon{
    font-size:25px;
    color:#30485e;
    margin-bottom:1.5rem;
}
.detail-points .d-title{
    margin-bottom:1rem;
    font-size:25px;
    font-family:"Metropolis Semi Bold";
}
.content-sec .c-des,
.detail-points .d-des{
    font-size:15px;
    line-height:normal;
}
/* detail-points end */
/* our team start */
.our-team{
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}
.our-team .con-par{
    position:relative;
}
.our-team .content-portion{
    position:absolute;
    top:5rem;
    left:4rem;
    width:500px;
    padding:40px;
    background:#fff;
    z-index:10;
    height:calc(100% - 10rem);
    box-shadow:0px 0px 30px #0004;
}
.our-team .content-portion .icon{
    font-size:40px;
    color:#3f454e;
    margin-bottom:1.5rem;
}
.our-team .content-portion .item-title{
    font-size:40px;
    margin-bottom:0.5rem;
    font-family:"Metropolis Bold";
}
.our-team .content-portion .txt-2{
    line-height:normal;
    font-family:"Metropolis Regular";
    font-size:18px;
}
.our-team .content-portion .theme-btn{
    font-size:14px;
    letter-spacing:1px;
    padding:.6rem 1.5rem;
    text-transform:uppercase;
}
.our-team .content-portion .theme-btn i{
    margin-left:10px;
    transform:rotate(-45deg);
}
/* our team end */

.com-sections.blog-section{
    background:#f0f0ef;
}