.popup-parent{
    position:fixed;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    z-index:10;
    overflow:auto;
    background:#0004;
    padding:5rem 6rem;
}
.map-popup{
    margin-bottom:5rem;
    border-radius:5px;
    overflow:hidden;
}
.map-popup .popup-header{
    background:#fff;
    box-shadow:0px 2px 4px #ddd;
    padding:10px 15px;
    display:flex;
    align-items:center;
    position:relative;
    z-index:2;
}
.map-popup .google-places-autocomplete{
    width:50%;
}
.map-popup .google-places-autocomplete .form-control{
    background:#eceae8;
    border:0px solid;
    box-shadow:none !important;
    padding-top:1.3rem;
    padding-bottom:1.3rem;
}
.map-popup .google-places-autocomplete .input-group button{
    color:#fff;
    background:#30485e;
}
.map-popup .popup-header .close-btn{
    font-size:20px;
    color:#6c6a66;
    margin-left:5px;
    margin-right:30px;
}
.map-popup .popup-header .pos-right{
    margin:0px;
    margin-left:auto;
}
.map-popup .popup-body{
    height:600px;
    background:#eceae8;
}